/*.jumbotron h1 {*/
    /*text-align: center;*/
/*}*/
/*.container .jumbotron {*/
    /*background-color: transparent;*/
    /*border-bottom: 1px solid;*/
    /*border-radius: 0;*/
/*}*/
footer {
padding-top: 19px;
color: #777;
border-top: 1px solid #e5e5e5;
margin-top: 40px;
margin-bottom: 40px;
}
/*div.jumbotron div.col-md-8 .btn-lg {*/
    /*padding-left: 40px;*/
    /*padding-right: 40px;*/
/*}*/

.container.under-jumb a {
    margin-top: 35px;
}
.under-jumb {
    margin-bottom: 30px;
}
/*label {*/
    /*width: 100%;*/
    /*padding-top: 10px;*/
/*}*/
form p button {
    margin-top: -10px;
}
.contacts-r ul {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
}
.contacts-r li {
    padding-bottom: 5px;
}
.contacts-r li span {
    font-weight: bold;
}
.contacts-r h2 {
    margin-top: 30px;
}
.contacts-r ul.info {
    /*margin-bottom: 30px;*/
}
.contacts-l p {
    margin: 30px 0;
}
/*.contacts-l form input, textarea[class*="col-md"] {*/
    /*border-radius: 5px;*/
    /*padding: 5px;*/
/*}*/
.contacts h1 {
    margin-bottom: 40px;
    margin-top: 0px;
}
/*.login div {*/
    /*background-color: lightgray;*/
    /*border:grey;*/
    /*border-radius: 5px;*/
/*}*/
/*.login ul {*/
    /*list-style: none;*/
/*}*/
/*.text-left {*/
    /*text-align: left;*/
/*}*/
/*.text-center {*/
    /*text-align: center;*/
/*}*/
/*.text-right {*/
    /*text-align: right;*/
/*}*/
/*.login h1 {*/
    /*margin: 20px 0 20px;*/
/*}*/
/*.login .col-md-8 a {*/
    /*margin-bottom: 15px;*/
/*}*/
.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-bottom-5 {
    padding-bottom: 5px !important;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.container .tables tbody {
    font-size: small;
}

label[for="amount"]+input {
    color:  #285e8e !important;
}






/*i think this may be deleted:*/
/*for tabs left start*/
/*.tabs-left li {*/
    /*float: none;*/
/*}*/

/*.tabbable .nav-tabs{*/
    /*border-bottom: 0;*/
/*}*/


/*.tabs-left > .nav-tabs > li > a,*/
/*.tabs-right > .nav-tabs > li > a {*/
    /*min-width: 74px;*/
    /*margin-right: 0;*/
    /*margin-bottom: 3px;*/
/*}*/


/*.tabs-left > .nav-tabs {*/
    /*float: left;*/
    /*margin-right: 19px;*/
    /*border-right: 1px solid #ddd;*/
/*}*/

/*.tabs-left > .nav-tabs > li > a {*/
    /*margin-right: -1px;*/
    /*-webkit-border-radius: 4px 0 0 4px;*/
    /*-moz-border-radius: 4px 0 0 4px;*/
    /*border-radius: 4px 0 0 4px;*/
/*}*/

/*.tabs-left > .nav-tabs > li > a:hover,*/
/*.tabs-left > .nav-tabs > li > a:focus {*/
    /*border-color: #eeeeee #dddddd #eeeeee #eeeeee;*/
/*}*/

/*.tabs-left > .nav-tabs .active > a,*/
/*.tabs-left > .nav-tabs .active > a:hover,*/
/*.tabs-left > .nav-tabs .active > a:focus {*/
    /*border-color: #ddd transparent #ddd #ddd;*/
    /*border-right-color: #ffffff;*/
/*}*/
/* for tabs left end*/

